table {
    width: 100%;
    border-collapse: collapse;
    color: var(--color-secondary);
}

td {
    padding: 20px 10px;
}

thead tr {
    text-align: left;
    background-color: var(--color-ghost-white);
}

thead th {
    padding: 20px 10px;
}

thead div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
}

thead td img{
    display: inline;
}

.contact-row:hover {
    cursor: pointer;
    background-color: var(--color-off-white);
}

.actions img {
    display: inline-block;
    margin: 0px 10px;
    opacity: 0.6;
}

.actions  img:hover {
    opacity: 1;
}